#img_about {
    border: 1px solid rgba(0, 127, 255, 0.7);
}


#about{

    @media (max-width: 768px) {
        
        h2 {
            font-size: 2rem;
        }

        img {
            display: none;
            width: 10%;
            height: auto;
            border: none;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1rem;
            margin-inline: 0px;
        }

        .container_parrafo {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100vw;
            padding-inline: 2rem;
        }
    }
}

.highlight-text {
    position: relative;
    z-index: 1;
}

.highlight-text::before {
    content: '';
    position: absolute;
    z-index: 2; /* Aseguramos que esté por encima del texto */
    bottom: 0;  /* Posicionamos el resaltador justo encima del texto */
    left: 0;
    width: 100%;
    height: 60%;
    background: #FFD700; /* Color del resaltador */
    mix-blend-mode: multiply; /* Se asegura que el resaltado no opaque el texto */
    transition: width 0.3s ease-in-out;
    width: 0;  /* Inicialmente, el ancho es 0 */
}

.highlight-text:hover::before {
    width: 100%;  /* Al pasar el cursor, se expande por completo */
}