#img_about {
    border: 3px solid rgba(0, 127, 255, 0.7);
}


#about{

    @media (max-width: 768px) {
        
        h2 {
            font-size: 2rem;
            margin-bottom: 2rem;
        }

        img {
            display: none;
            width: 10%;
            height: auto;
            border: none;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1rem;
            margin-inline: 0px;
            text-align: justify;
        }

        .container_parrafo {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100vw;
            padding-inline: 2rem;
        }
    }
}