button.slick-prev:before, button.slick-next:before {
    color: rgba(0, 0, 0, 0.631);
    border-radius: 50%;
}

.content {
    // width: 300px;
    // display: block;
    margin-left: 1rem;
}

// .slick-slider {
    // padding: 1rem;
    // border: 3px solid rgba(0, 127, 255, 0.7);
// }


#projects{

    @media (max-width: 768px) {
        
        h2 {
            font-size: 2rem;
            margin-bottom: 2rem;
        }
    }
}